<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@332&display=swap");
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section
          class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start"
        >
          <span class="mdc-top-app-bar__title">SHIFT+CLICK</span>
        </section>
        <section
          class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end"
          role="toolbar"
        >
          <button
            class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
            aria-label="home"
          >
          home
          </button>
          <a href="/roster"><button
            class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
            aria-label="Search"
          >
          people
          </button></a>
          <a href ="/schedule">
            <button
              class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
              aria-label="Options"
            >
              date_range
            </button> </a>
        </section>
      </div>
    </header>
    <main class="mdc-top-app-bar--fixed-adjust mdc-card">
      
      <div class="mdc-card">
        <h3>Today's Schedule</h3>
        <ul class="today-schedule">
          <li>Employee #1 - Keyholder</li>
          <li>8am-5pm</li>
        </br>
          <li>Employee #2 - Associate</li>
          <li>8am-5pm</li>
        </br>
          <li>Employee #3 - Associate</li>
          <li>8am-10:45am</li>

        </ul>
      </div>
    </main>

    </nav>
  </body>
</html>
